@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --primary-text-color: 150 187 124;
    --second-text-color: 115 115 115;
    --text-color: 37 43 66;
  }
}

html {
  height: 100%;
}

body {
  max-width: 1440px;
  margin: auto;
}